<div class="row">
  <div class="col-sm-2">
    <span class="h1"><i class="fa fa-fw fa-user-o"></i></span>
    <span><%= user %></span>
  </div>

  <div class="col-sm-10">
    <div class="card bg-light mb-3 balloon">
      <div class="card-body">
        <div class="row">

            <div class="col-sm-11">
              <p class="card-text" style="min-height: 2rem;"><%= description %></p>
              <p class="card-text text-muted">
                <small>
                  訪問日：<%= visit ? moment(visit).format("YYYY/MM/DD") : '-' %>
                  <span class="rate-star" style="--rate: <%= (score/5.00)*100 %>%;"></span> <%= padding(score, 1) %>
                </small>
              </p>
            </div>

            <div class="col-sm-1 text-muted">
              <a class="btn btn-light" href="/account/review/<%= id %>/edit?shop=<%= shop %>"><i class="fa fa-fw fa-edit"></i></a>
              <a class="btn btn-light" href="/account/review/<%= id %>/delete?shop=<%= shop %>"><i class="fa fa-fw fa-trash-o"></i></a>
            </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
